{% extends "base.html" %}

{% block title %}Home | Rec Analyzer{% endblock %}
{% block activeNav %}nav-home{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header text-center">
        <h4>Select a name</h4>
    </div>
    <div class="card-body">
        {% if count == 0 %}
        <div class="alert alert-warning fade show">
            <h5>Nothing found to show</h5>
            <h6>Please, try again later</h6>
        </div>
        {% else %}
        <div class="row">
        {% for i in rec_names%}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
          <a href="/map/{{i}}" class="btn btn-info text-black-50 font-weight-bold">{{i}}</a>
        </div>
        {% endfor %}
        </div>
    </div>
    <div class="card-footer text-center">
        Click a name to start Rec Analyzer
    </div>
    {% endif %}
</div>


{% endblock %}