{% extends "base.html" %} 
{% block activeNav %}nav-home{% endblock %} 
{% block Title %}Records Map | Rec Analyzer{% endblock %}

{% block content %} 

<div class="card">
  <div class="card-header text-center">
    <h4>{{ rec_name }}'s Call Records</h4>
  </div>
  <div class="card-body">
    {% if count == 0 %}
    <div class="alert alert-warning fade show">
      <h5>Nothing found to show</h5>
      <h6>Please, try again later</h6>
    </div>
    {% else %}
    <div class="row">
    {% for i in all_dates%}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
        <a href="/map/{{rec_name}}/{{i}}" class="btn btn-info text-white">{{i}}</a>
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="card-footer text-center">
    Select a date to see records
  </div>
  {% endif %}
</div>

{% endblock %}
