{% extends "base.html" %} 
{% block activeNav %}nav-home{% endblock %} 
{% block Title %}{{ rec_name }}'s Records | Rec Analyzer{% endblock %}

{% block content %} 

<div class="card">
  <div class="card-header">
    <h3 style="text-align: center; font-size: 22px;"><a href="/map/{{rec_name}}">{{ rec_name }}</a>'s Call Records</h3>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-12 col-sm-4 text-left">
        {% if old_date %}
        <span><a class="btn btn-sm btn-primary" href="/map/{{rec_name}}/{{old_date}}">◀ {{ old_date }}</a></span>
        {%endif%}
      </div>
      <div class="col-12 col-sm-4 text-center my-auto">
        <span style="font-size: 17px;"><b>{{ date }}</b></span>
      </div>
      <div class="col-12 col-sm-4 text-right">
        {% if next_date %}
        <span><a class="btn btn-sm btn-primary" href="/map/{{rec_name}}/{{next_date}}">{{ next_date }} ▶</a></span>
        {%endif%}
      </div>
    </div>
  </div>
</div>

<div class="card p-2">
  {% if total == 0 %}
  <div class="alert alert-warning fade show">
    <h5>No Records found</h5>
    <h6>Zero records found for that day</h6>
  </div>
  {% else %}

  {% for i in records %}
  <div class="card mb-2">
    <div class="row p-2">
      <div class="col-12 col-lg-7">
        <div class="row">
          <div class="col-2 col-md-1 m-auto">
            <img src="{% if i.call_type == 'IN' %}{{ url_for('static', filename='ic_in.png') }} {%else%}{{ url_for('static', filename='ic_out.png') }} {%endif%}" alt="out" style="height: 22px; width: 22px; margin-right: 10px;">
          </div>
          <div class="col-10 col-md-11">
            <audio class="w-100" src="{{ url_for('download_view', fl=i.file_name, name=rec_name, date=date) }}" controls></audio>
          </div>
        </div>
      </div>
      <div class="col-5 col-lg-2 my-auto text-lg-center">
        <p class="m-0">{{ i.call_time}}</p>
      </div>
      <div class="col-5 col-lg-2 my-auto p-2 text-lg-center">
        <p class="m-0" style="font-weight: 500;">{{ i.call_number}}</p>
      </div>
      <div class="col-2 col-lg-1 m-auto p-2 text-center">
        <a href="{{ url_for('download_view', fl=i.file_name, name=rec_name, date=date) }}" title="{{i.file_name}}"><img src="{{ url_for('static', filename='ic_download.png') }}" alt="Download" style="height: 20px; width: 20px;"></a>
      </div>
    </div>
  </div>
  {%endfor%}
  
  <div class="card-footer mt-2">
    <div class="d-flex justify-content-center">
      Count : {{total}} | Total Size : {{sizeSince(size)}}
    </div>
  </div>
  
  <div class="card-footer">
    <div class="row">
      <div class="col-12 col-sm-4 text-left">
        {% if old_date %}
        <span><a class="btn btn-sm btn-primary" href="/map/{{rec_name}}/{{old_date}}">◀ {{ old_date }}</a></span>
        {%endif%}
      </div>
      <div class="col-12 col-sm-4 text-center my-auto">
        <span style="font-size: 17px;"><b>{{ date }}</b></span>
      </div>
      <div class="col-12 col-sm-4 text-right">
        {% if next_date %}
        <span><a class="btn btn-sm btn-primary" href="/map/{{rec_name}}/{{next_date}}">{{ next_date }} ▶</a></span>
        {%endif%}
      </div>
    </div>
    <hr>
    <h3 style="text-align: center; font-size: 22px;"><a href="/map/{{ rec_name }}">{{ rec_name }}</a>'s Call Records</h3>
  </div>

{% endif %}

{% endblock %}
